body{
    font-family: 'Luxurious Roman', cursive;
}
h1{
    font-size: 35px;
    padding-left: 5px;
}
.sidebar{
    border-left: 3px solid red;
}


.name{
    color:blueviolet;
}
.about-flexible{
    display:flex;
    margin-bottom: 100px;
}
.half{
    width: 60% ;
    padding-left: 10%;
    padding-right: 5%;
    margin-bottom: 100px;
}
.half img{
    width: 70%;
}
.half-it img{
    width: 50%;
    padding-left: 20%;
   

    }

    .that{
        padding-right: 50px;
    }

 .half-it{
    margin-bottom: 100px;
 }
.link-button{
    text-decoration: none;
    background-color: greenyellow;
    background-image: linear-gradient(orange red);
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: 800;
}



.develop{
    background-image: url(shape-1.png);
    background-repeat: no-repeat;
    background-size: 200px;
    margin-bottom: 100px;
    display:flex;
    padding-left: 20px;
}

    .edit{
        margin-bottom: 100px;
    display:flex;
    
    }

   .center{
       text-align: center;
       margin-bottom: 100px;
   }

.this{
    color:palevioletred;
}
.thisone {
color:orangered;
}

.sure{
    color:red;
}
#box{
    background-color:orange;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    border-radius: 20px;
    text-align: justify;
    height:auto 100px;
   border: 1px ;
}
#cool{
    background-color:tan;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    border-radius: 20px;
    text-align: justify;
    height:auto 100px;
   border: 1px ;

}
#font{
    background-color:yellowgreen;
    padding-left: 10%;
    padding-bottom: 10%;
    padding-right: 10%;
    border-radius: 20px;
    text-align: justify;
    height:auto 100px;
   border: 1px ;
}

.doit{
    color: yellow;
}
.box{
    background-color:black ;
    margin: 0%;
}
.half-para{
    padding-left: 20px;
}
.image{
    padding-right: 10px;
}
.half{
    margin-bottom: 100px;
}
.width{
    width:100%;
    margin-left: 50px auto;
    justify-content: space-evenly;
}

footer p{
    text-align: center;
    color:blanchedalmond;
}
#footer{
    font-weight: 900;
}
.zero{
    font-size: 10px ;
}